@using app.Models;
@model IEnumerable<app.Models.TableModel>
@{
    ViewData["Title"] = "TABLE & COLUMN List";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div style="font-family:Arial">
<Table cellpadding="5" cellspacing="2" border="1" id="myTable">
<tr>
<th>TABLE NAME</th>
<th>COLUMN NAME</th>
</tr>
	@foreach (TableModel style in Model)
	{
	<tr>
		<TD>@style.TABLE_NAME</TD>
		<TD>@style.COLUMN_NAME</TD>
	</tr>
	}
</Table>
</div>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<link rel="stylesheet" type="text/css" href="~/js/DataTables/datatables.min.css"/>
 
<script type="text/javascript" src="~/js/DataTables/datatables.min.js"></script>

<script>
<!--
$(document).ready( function () {
    $('#myTable').DataTable();
} );
//-->
</script>