@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<p>Henkel Kolkata Cloud2 is one of the top E-Commerce platforms in India, and currently the only company that provides a Complete E-Commerce Solution for Cloth brands looking to grow online. Founded by Vijay & Partners in 2019,  Henkel Kolkata Cloud2 has helped more than 3,000 businesses become established online cloth brands.</p>

<p>With  Henkel Kolkata Cloud2's easy to use platform, anyone can order their own cloth within minutes by this website. One can choose from 100+ brands to create order for their brand. Every website element can be extensively modified to suit individual preferences. Further, there are endless website customization options to choose from that help create a truly unique website experience.</p>

<p>Henkel Kolkata Cloud2 provides its customers with everything that is required to choose their brand online. Along with an E-Commerce Website, Customers get a free payment gateway to receive online payments on their website. They also get a simplified courier solution that is integrated to their website. Customers can choose from 6 leading courier partners to help them deliver their orders across the globe. Customers can use a powerful advertising solution to run automated ads on social media and generate more site traffic and increase online sales.</p>

<p>Furthermore, customers can also start selling on top marketplaces like Flipkart, Amazon, Paytm via  Henkel Kolkata Cloud2 Marketplace tool.</p>

<p>Funded by Morpheus Gang, One97 Communications and Orios Ventures,  Henkel Kolkata Cloud2 currently has offices in 2 cities across India - Kolkata (HQ) and Bangalore. With a team size of more than 500,  Henkel Kolkata Cloud2 aims to enable every brand realize their true E-Commerce potential.</p>

