@{
    ViewData["Title"] = "Careers";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<h3>Looking to work with Henkel Kolkata Cloud2? Fulfilling Career Opportunities are waiting for you.<h3>


<li>Work in different department</li>

<li>Peer to peer Review</li>

<li>Flat Hierarchy</li>

<li>Work from different location</li>

<li>Work from Home</li>

<li>Financial rewards</li>

<li>Mentorship</li>

<li>Polls to formulate policies</li>

