<title>Payments</title>
<p>
How do I pay for a purchase?

We offer you multiple payment methods. Whatever your online mode of payment, you can rest assured that our trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.

You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.

We also accepts payments made using Visa, MasterCard, Maestro and American Express credit/debit cards in India and 21 other countries.

What is Cash on Delivery?

If you are not comfortable making an online payment, you can opt for the Cash on Delivery (C-o-D) payment method instead. With C-o-D you can pay in cash at the time of actual delivery of the product at your doorstep, without requiring you to make any advance payment online.

The maximum order value for a Cash on Delivery (C-o-D) payment is ₹50,000. It is strictly a cash-only payment method. Gift Cards or store credit cannot be used for C-o-D orders. Foreign currency cannot be used to make a C-o-D payment. Only Indian Rupees accepted.
How do I pay using a credit/debit card?

We accept payments made by credit/debit cards issued in India and 21 other countries.

Credit cards

We accept payments made using Visa, MasterCard and American Express credit cards.

To pay using your credit card at checkout, you will need your card number, expiry date, three-digit CVV number (found on the backside of your card). After entering these details, you will be redirected to the bank's page for entering the online 3D Secure password.

Debit cards

We accept payments made using Visa, MasterCard and Maestro debit cards.

To pay using your debit card at checkout, you will need your card number, expiry date (optional for Maestro cards), three-digit CVV number (optional for Maestro cards). You will then be redirected to your bank's secure page for entering your online password (issued by your bank) to complete the payment.

Internationally issued credit/debit cards cannot be used for Flyte, Wallet and eGV payments/top-ups.

</p>