<title>Payments </title>
<!DOCTYPE html>  
<html>  
    <head>  
        <title>var tag</title>  
    </head>  
    <style>  
        body {  
            text-align:center;  
        }  
        .gfg {  
            font-size:40px;  
            font-weight:bold;  
            color:green;  
        }  
        .geeks {  
            font-size:25px;  
            font-weight:bold;  
        }  
    </style>  
    <body>  
        <div class ="gfg">Payments</div>  
		<p>
How do I pay for a purchase?
<br>
We offer you multiple payment methods. Whatever your online mode of payment, you can rest assured that our trusted payment gateway partners use secure encryption technology to keep your transaction details confidential at all times.
<br>
You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.
<br>
We also accepts payments made using Visa, MasterCard, Maestro and American Express credit/debit cards in India and 21 other countries.



</p>
            </body>  
</html>           
