<title>Privacy</title>
<h2>
<p>Privacy</p></h2>
<p><h4>We use your personal information to operate, provide, develop, and improve the products and services that we offer our customers. These purposes include:
<br/>
    Purchase and delivery of products and services: We use your personal information to take and handle orders, deliver products and services, process payments, and communicate with you about orders, products and services, and promotional offers.
 <br/>   Provide, troubleshoot, and improve  Services: We use your personal information to provide functionality, analyze performance, fix errors, and improve the usability and effectiveness of our Services.
 <br/>   Recommendations and personalization: We use your personal information to recommend features, products, and services that might be of interest to you, identify your preferences, and personalize your experience with our Services.
 <br/>   Provide voice, image and camera services: When you use our voice, image and camera services, we use your voice input, images, videos, and other personal information to respond to your requests, provide the requested service to you, and improve our services. For more information about Alexa voice services  .
  <br/>  Comply with legal obligations: In certain cases, we collect and use your personal information to comply with laws. For instance, we collect from sellers information regarding place of establishment and bank account information for identity verification and other purposes.
    Communicate with you: We use your personal information to communicate with you in relation to our Services via different channels (e.g., by phone, e-mail, chat).
  <br/>  Advertising: We use your personal information to display interest-based ads for features, products, and services that might be of interest to you. We do not use information that personally identifies you to display interest-based ads. To learn more, please read our Interest-Based Ads notice .
<br/>    Fraud Prevention and Credit Risks: We use personal information to prevent and detect fraud and abuse in order to protect the security of our customers and others. We may also use scoring methods to assess and manage credit risks.
</h4></p>
