@{
    ViewData["Title"] = "Product Home Page";
}
<h2>@ViewData["Title"] </h2>

<h3>
<ul>
	    <li><a href="~/ProductCatalog/index">Product Catalog</a></li>
	    <li><a href="~/Product/index">Product Style</a></li>
	    <li><a href="~/ProductPricing/index">Product Price</a></li>
	    <li><a href="~/ProductSku/index">Product SKU</a></li>
            <li><a href="~/Home/Categary1">Sports Wear</a></li>
            <li><a href="~/Home/Categary2">Western Wear</a></li>
            <li><a href="~/Home/Categary3">Ethnic Wear</a></li>
            <li><a href="~/Home/Categary4">Winter Wear</a></li>
         </ul>
</h3>