<title>Return Policy</title>

<h2>

<p> Return Policy</p></h2>

<p><h4>Items shipped by henkelkolkatacloud2.com between November 1 and December 31 of this year, may be returned until January 31 of the following year for a full refund, subject to our other return guidelines listed below. For more details on policies for items not shipped by henkelkolkatacloud2.com, see Seller Returns Policies below.

<br/>

Items shipped from henkelkolkatacloud2.com, including our Warehouse, can be returned within 30 days of receipt of shipment in most cases. Some products have different policies or requirements associated with them.

<br/>
Seller Return Policy
<br/>

When you order from a seller that fulfills and ships its own inventory (also called a third party seller), your return is sent back to the seller instead of henkelkolkatacloud2.com. While most sellers offer a returns policy equivalent to henkelkolkatacloud2.com's, some seller returns policies may vary. You can view the return policy of the seller before you purchase an item by viewing the Returns and Refunds Policy section of the seller profile page. To view the seller's return policy, once you've ordered, you can select your order in the Online Returns Center.

<br/>
Third-party sellers must either provide a return address within the United States, provide a prepaid return label, or offer a full refund without requesting the item be returned. If a seller does not offer these methods to return your items, you may file an A-to-z Guarantee claim to seek help with your return.
<br/>

If you are sending the item within the United States and the order is valued at $100 or more, insure the shipment for the value of the merchandise and ship your return with a signature shipping service. Items valued over $35 must be returned to the seller with a trackable shipping service. For items below $35, we suggest USPS delivery confirmation service. If a package doesn't arrive and you don't use a trackable method to return or if you refuse the shipment as a method of return, we may not be able to cover you under the A-to-z Guarantee.
<br/>
Note: If the seller's listing is eligible for Prime, it will be subject to the same return policies as items fulfilled by henkelkolkatacloud2.com that are outlined on this page.
</h4>
</p>
