<title>Security</title>
<h2>
<p>Security</p></h2>
<p><h4>
We design our systems with your security and privacy in mind.
<br/>
    We work to protect the security of your personal information during transmission by using encryption protocols and software.
<br/>    We follow the Payment Card Industry Data Security Standard (PCI DSS) when handling credit card data.
 <br/>   We maintain physical, electronic, and procedural safeguards in connection with the collection, storage, and disclosure of personal customer information. Our security procedures mean that we may occasionally request proof of identity before we disclose personal information to you.
<br/>    Our devices offer security features to protect them against unauthorized access and loss of data. You can control these features and configure them based on your needs. 
 <br/>   It is important for you to protect against unauthorized access to your password and to your computers, devices, and applications. Be sure to sign off when finished using a shared computer. 
</h4></p>
