<P><h2>Sports Wear
</h2>
<head> 
    <style> 
        table, th, td { 
            border: 1px solid black; 
	    text-align: left;
	background-color: #f2f2d1; 
        } 
    </style> 
</head> 
</P>
 <table style="width:50%" >
  <tr>
    <th>Product Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Discount(%)</th>
  </tr>
  <tr>
    <td>Men's Shoe</td>
    <td>Asian Shoes Wonder-13</td>
    <td>430</td>
     <td>22</td>
  </tr>
<tr>
    <td>Men's Shoe</td>
    <td>Sparx Men's Runnings Shoes</td>
    <td>888</td>
     <td>34</td>
  </tr>
<tr>
    <td>Men's Shoe</td>
    <td>Fila Men's Ardo Running Shoes</td>
    <td>999</td>
     <td>10</td>
  </tr>
<tr>
    <td>Men's Shirts</td>
    <td>Chkokko</td>
    <td>485</td>
     <td>60</td>
  </tr>
<tr>
    <td>Men's Shirts</td>
    <td>chkokko</td>
    <td>285</td>
     <td>76</td>
  </tr>
<tr>
    <td>Men's Shirts</td>
    <td>Adidas</td>
    <td>649</td>
     <td>50</td>
  </tr>
<tr>
    <td>Women's Shirt</td>
    <td>fbb Women's Plain Regular Fit</td>
    <td>149</td>
     <td>66</td>
  </tr>
<tr>
    <td>Women's Shirt</td>
    <td>Ap'pulse </td>
    <td>839</td>
     <td>81</td>
  </tr>
<tr>
    <td>Men's Trousers</td>
    <td>Woknit</td>
    <td>649</td>
     <td>68</td>
  </tr>
<tr>
    <td>Men's Trousers</td>
    <td>Modern Monday</td>
    <td>599</td>
     <td>70</td>
  </tr>
<tr>
    <td>Women's Shirt</td>
    <td>Berge Women's Navy Tee</td>
    <td>795</td>
     <td>35</td>
  </tr>
<tr>
    <td>Women's Shirt</td>
    <td>fbb Women's Plain Regular Fit</td>
    <td>149</td>
     <td>66</td>
  </tr>

  
</table> 
