@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    DLF IT Park, Tower B,<br />
    New Town, <br />
    Kolkata - 700156,<br /> 
    India
    Telephone: 1800 208 9898<br />
    Mobile : +91-9830615041
</address>

<address>
    <strong>Support:</strong> <a href="mailto:vijfalor@in.ibm.com">Support@HenkelKolCloud2.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:vijfalor@in.ibm.com">Marketing@HenkelKolCloud2.com</a>
</address>
