@{
    ViewData["Title"] = "Meet Henkel Kolkata Cloud2 Team";
}
<h2>@ViewData["Title"]</h2>
<h3>A bunch of talented individuals who make work a lot of fun! :)</h3>

<div class="container">
                <div class="row">
                    <!-- Team Box -->
                    <div class="col-md-2 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img class="mobile_phone_image" width="213" heigth="250" src="~/images/Jyoti.jpg" alt="Jyoti Ranjan Das"/>
                            </div>
                            <div class="team-item-info">
                                <h5>Jyoti Ranjan Das</h5>
                            </div>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img  class="mobile_phone_image" width="213" heigth="250" src="~/images/vijay.jpg" alt="Vijay Falor"/>
                            </div>
                            <div class="team-item-info">
                                <h5>Vijay Falor</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img  class="mobile_phone_image" width="213" heigth="250" src="~/images/Arnab.jpg" alt="Arnab Mitra"/>
                            </div>
                            <div class="team-item-info">
                                <h5>Arnab Mitra</h5>
                            </div>
                        </div>
                    </div>				    
		    <div class="col-md-2 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img  class="mobile_phone_image" width="213" heigth="250" src="~/images/Bhaskar.jpg" alt="Bhaskar Sarkar"/>
                            </div>
                            <div class="team-item-info">
                                <h5>Bhaskar Sarkar</h5>
                            </div>
                        </div>
                    </div>
		    <div class="col-md-2 col-sm-6 mb-30">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img  class="mobile_phone_image" width="213" heigth="250" src="~/images/Deepali.jpg" alt="Deepali Nikam"/>
                            </div>
                            <div class="team-item-info">
                                <h5>Deepali Nikam</h5>
                            </div>
                        </div>
                    </div>

</div>
</div>
