<title>Terms Of Use</title>
<h2>
<p>Terms Of Use</p></h2>
<p><h4>
You must follow any policies made available to you within the Services.
<br/>
Do not misuse our Services. For example, do not interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.
<br/>
Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Do not remove, obscure, or alter any legal notices displayed in or along with our Services.
<br/>
Our Services display some content that is not HenkelCloud's. This content is the sole responsibility of the entity that makes it available. We may review content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. But that does not necessarily mean that we review content, so please do not assume that we do.
<br/>
In connection with your use of the Services, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.
<br/>
Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and prevents you from obeying traffic or safety laws.</h4>
</p>
