@using app.Models;
@model IEnumerable<app.Models.ProductModel>
@{
    ViewData["Title"] = "Style List";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div style="font-family:Arial">
<ul>
	@foreach (ProductModel style in Model)
	{
		<li>
			@Html.ActionLink(style.DESCRIPITION, "Details", New (ITEM_NUMBER = style.ITEM_NUMBER));
		</li>
	}
</ul>
</div>