@model IEnumerable<app.Models.xxIBM_PRODUCT_STYLEs>
@using app.Models;
@{
    ViewData["Title"] = "Style List";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<div style="font-family:Arial">
<ul>
	foreach (xxIBM_PRODUCT_STYLE style in Model)
	{
		<li>
			Html.ActionLink(style.DESCRIPITION, "Details", New (id = style.ITEM_NUMBER));
		</li>
	}
</ul>
</div>